* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  border: 0;
}

header {
  min-width: 100px;
  min-height: 100px;
  background-color:  #dea9e6;

  &::before {
    content: "Header"
  }
}

aside {
  min-width: 100px;
  min-height: 100px;
  background-color: rgba(220, 200, 223, 0.6);
  
  &::before {
    content: "aside"
  }
}

main {
  min-width: 100px;
  min-height: 100px;
  background-color: #d86fb8;
  padding: 1rem;
  
  &::before {
    content: "main"
  }
}

footer {
  min-width: 100px;
  min-height: 100px;
  background-color:  #dea9e6;
  
  &::before {
    content: "footer"
  }
}



header {
  text-align: center;
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: content;
}

footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: "header header" "aside  content" "footer footer";
  min-height: 100vh;
  margin: 0;
  border: 0;
}

main .galeria {
  border: 1px solid pink;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

main .galeria > div {
  border: 1px solid #000;
  height: 100px;
}

main .galeria > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 1fr 100px;
    grid-template-areas: "header" "aside" "content" "footer";
  }
}